name: Generate Snake

on:
    schedule:
        # 每周日凌晨 0 点运行 (UTC 时间)
        - cron: "0 0 * * 0"
    workflow_dispatch: # 保留手动触发按钮

jobs:
  build:
    runs-on: ubuntu-latest
    steps:
      - uses: Platane/snk@v3
        with:
          github_user_name: Kiaralei
          outputs: dist/github-contribution-grid-snake.svg
      - name: Push snake
        uses: crazy-max/ghaction-github-pages@v3
        with:
          target_branch: output
          build_dir: dist
        env:
          GITHUB_TOKEN: ${{ secrets.GITHUB_TOKEN }}
